{% extends "base.html" %}

{% block title %}Panel Cliente{% endblock %}

{% block content %}
<div class="row  border-bottom white-bg dashboard-header">
    <h2>Entrada de Insumos</h2>

    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li>
                <a href="#">Insumos</a>
            </li>
            <li class="active"> <strong>Agregar entrada</strong>
            </li>
        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>
                            Agregar entrada para: <strong>{{insumo.nombre}}-{{insumo.codigo}}</strong>
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="p-xs">
                                <div class="insumoformstyle">
                                    <form id='formulario' method='post' enctype='multipart/form-data'>
                                        {% csrf_token %}
                                        <ul>{{form.as_p}}</ul>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>

                    <div class="row p-xs">
                        <div class="col-lg-12">
<div class="wrapper wrapper-content">
                            <button type="submit" name="save" class="btn btn-xlg btn-primary pull-right m-t-n-xs">Guardar nueva entrada</button>
                            </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}