{% extends "base.html" %}

{% block title %}Detalles de insumo: {{insumo.nombre}}{% endblock %}

{% block content %}
{% load humanize %}

<script>


    function edit(id)
{
 //alert('carga');
        //e.preventDefault();
        $('#edit-concept').load("/administrador/edit_insumo/"+id+"/");
        //var oButton = document.getElementsByTagName("button");
        //oButton[0].setAttribute("id", id);
       //$("button").attr("id",id);

        //var id = $(this).attr('id');
      
        //return false;

}

 

</script>



<div class="row  border-bottom white-bg dashboard-header">
    <h2>Insumos</h2>
    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li>
                <a href="#">Insumos</a>
            </li>
            <li class="active"> <strong>Detalles de insumo</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <a href="/administrador/insumos">
                <button class="btn btn-w-m btn-danger" type="submit"> <i class="fa fa-arrow-left"></i> Regresar a lista de insumos
                </button>
            </a>
            <p></p>
            <div class="ibox float-e-margins">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>{{insumo.nombre}}</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3 align-center">
                                <p>
                                    <img alt="{{insumo.name}}" src="{{ MEDIA_URL }}{{insumo.file}}" class="img-md1"></p>
                            </div>
                            <div class="col-lg-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading"> <i class="fa fa-info-circle"></i> Detalles
                                    </div>
                                    <div class="panel-body">
                                        <div id="reload-div">
                                            <dl class="dl-horizontal">
                                                <dt class="font-16">Codigo:</dt>
                                                <dd class="font-16">{{insumo.codigo}}</dd>
                                                <dt class="font-16">Descripción:</dt>
                                                <dd class="font-16">{{insumo.descripcion|default:"----"}}</dd>
                                                <dt class="font-16">Categoría:</dt>
                                                <dd class="font-16">{{insumo.categoria|default_if_none:"----"}}</dd>
                                                <dt class="font-16">Unidad:</dt>
                                                <dd class="font-16">{{insumo.get_unidad_display}}</dd>
                                                <dt class="font-16">Stock:</dt>
                                                <dd class="font-16">{{insumo.stock}}</dd>
                                                <dt class="font-16">Costo unitario:</dt>
                                                <dd class="font-16">${{insumo.costounitario|floatformat:2|intcomma}}</dd>
                                                <dt class="font-16">Costo Stock:</dt>
                                                <dd class="font-16">${{insumo.costostock|floatformat:2|intcomma}}</dd>
                                            </dl>
                                        </div>
                                        <button class="btn btn-info btn-w-m pull-right" class="edit_button" type="button" data-toggle="modal" name="edit1" data-target="#myModal2" id="{{insumo.pk}}" onClick="edit(this.id)"> <i class="fa fa-pencil"></i> Editar
                                        </button>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading"> <i class="fa fa-info-circle"></i> Acciones
                                    </div>
                                    <div class="panel-body align-center">
                                        <h2>

                                            <a href="{% url 'adminInsumoEntrada' insumo.pk %}" class="btn btn-lg btn-primary m-t-n-xs button280"><i class="fa fa-plus"></i>&nbsp;Agregar Entrada</a>

                                        </h2>
                                        <h2>

                                            <a href="{% url 'adminInsumoSalida' insumo.pk %}" class="btn btn-lg btn-primary m-t-n-xs button280"><i class="fa fa-plus"></i>&nbsp;Agregar Salida</a>
                                        </h2>
                                        <h2>
                                            <a href="{% url 'adminEntradas' insumo.pk %}" class="btn btn-lg btn-warning m-t-n-xs button280"><i class="fa fa-list"></i>&nbsp;Ver Entradas</a>

                                        </h2>
                                        <h2>
                                            <a href="{% url 'adminSalidas' insumo.pk %}" class="btn btn-lg btn-warning m-t-n-xs button280"><i class="fa fa-list"></i>&nbsp;Ver Salidas</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- modal editar concepto -->

        <div class="modal inmodal fade" id="myModal2" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-m">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Cerrar</span>
                        </button>
                        <h3 class="modal-title">Editar insumo</h3>
                    </div>
                    <div class="modal-body">
                    <div id="edit-concept">
                        
</div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}