{% extends "base.html" %}

{% block title %}Panel Cliente{% endblock %}

{% block content %}
<div class="row  border-bottom white-bg dashboard-header">
    <h2>Insumos</h2>

    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li>
                <a href="#">Insumos</a>
            </li>
            <li class="active"> <strong>Detalles de insumo</strong>
            </li>
        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h2>{{insumo.nombre}}</h2>
                    </div>

                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-3 align-right">

                                <p>
                                    <img alt="{{insumo.name}}" src="{{ MEDIA_URL }}{{insumo.file}}" class="detailimagen"></p>
                            </div>

                            <div class="col-lg-5">

                                <div class="panel panel-default">
                                    <div class="panel-heading"> <i class="fa fa-info-circle"></i>
                                        Info Panel
                                    </div>
                                    <div class="panel-body">

                                        <dl class="dl-horizontal">

                                            <dt class="font-16">Codigo:</dt>
                                            <dd class="font-16">{{insumo.codigo}}</dd>
                                            <dt class="font-16">Descripción:</dt>
                                            <dd class="font-16">{{insumo.descripcion}}</dd>
                                            <dt class="font-16">Categoría:</dt>
                                            <dd class="font-16">{{insumo.categoria}}</dd>
                                            <dt class="font-16">Unidad:</dt>
                                            <dd class="font-16">{{insumo.unidad}}</dd>
                                            <dt class="font-16">Stock:</dt>
                                            <dd class="font-16">{{insumo.stock}}</dd>

                                        </dl>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading"> <i class="fa fa-info-circle"></i>
                                        Info Panel
                                    </div>
                                    <div class="panel-body align-center">

                                        <h2>
                                            <a href="{% url "adminInsumoEntrada" insumo.pk %}">
                                                <button type="button" class="btn btn-outline btn-success btn-xlg">Agregar Entrada</button>
                                            </a>
                                        </h2>
                                        <h2>
                                            <a href="{% url "adminInsumoSalida" insumo.pk %}">
                                                <button type="button" class="btn btn-outline btn-success btn-xlg">Agregar Salida</button>
                                            </a>
                                        </h2>

                                        <h2>
                                            <a href="{% url "adminEntradas" insumo.pk %}">
                                                <button type="button" class="btn btn-outline btn-success btn-xlg">Ver Entradas</button>
                                            </a>
                                        </h2>
                                        <h2>
                                            <a href="{% url "adminSalidas" insumo.pk %}">
                                                <button type="button" class="btn btn-outline btn-success btn-xlg">Ver Salidas</button>
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}