{% extends "base.html" %}

{% block title %}Panel Cliente{% endblock %}

{% block content %}
<!-- Area titulo-->
<div class="row  border-bottom white-bg dashboard-header">
  <h2>Agregar Nuevo Insumo</h2>

  <div class="col-lg-8">
    <ol class="breadcrumb">
      <li>
        <a href="#">Insumos</a>
      </li>
      <li class="active"> <strong>Nuevo insumo</strong>
      </li>
    </ol>
  </div>

</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <div class="insumoformstyle">
          <form id='formulario' method='post' enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-8">
                <ul>{{form.as_p}}</ul>
              </div>
              <div class="col-lg-4"></div>
            </div>
            <div class="row">
              <div class="col-lg-12">
              
                <button type="submit" name="save" class="btn btn-xlg btn-primary pull-right m-t-n-xs">Agregar nuevo</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}