{% load staticfiles %}
<link href="{% static "css/customstyle.css"%}" rel="stylesheet">
{% block content %}

<p>Datos de concepto a editar:</p>
                        <div class="insumoformstyle">
                        <form id='formulario-modal' method='post' enctype='multipart/form-data'>
                            {% csrf_token %}
                            <ul>{{form.as_p}}</ul>

                            <div class="row align-center">
                               <button class="btn btn-info btn-w-m button280" name="subir" type="submit" id="{{ post.pk }}" > <i class="fa fa-pencil"></i>
                        Editar
                    </button>
                            </div>

                        </form>

</div>

<script>
$(document).ready(function(){
    // Iniciar autonumeric campos
   $("#id_costounitario").autoNumeric('init');
});

    </script>

<script>
$('#formulario-modal').submit(function() {

    var txt = $('#id_costounitario');
    txt.val(txt.val().replace(/,/g , ""));

});
</script>


<script>
// just for the demos, avoids form submit
jQuery.validator.setDefaults({
 ignore: [],
});

jQuery(document).ready(function(){

    $("#formulario-modal").validate({
        rules: {
            costounitario: {
                required: true,
                // min: 0.0,
                step: false
            },
            nombre: {
              required: true
            },
            codigo: {
              required: true
            }
        },
        messages: {
            nombre: "Nombre de insumo obligatorio",
            codigo : "Codigo de insumo obligatorio",
            costounitario: "Costo mayor a 0"
        },

submitHandler: function(form) {


                    var id = $('button[name="subir"]').attr('id');

                    $.ajax({
                                 type: "POST",
                                 url: "/administrador/edit_insumo/"+id+"/",
                                 data: { 
                                     'id':id, 
                                     'nombre':$('#id_nombre').val(), 
                                     'codigo':$('#id_codigo').val(), 
                                     'descripcion':$('#id_descripcion').val(), 
                                     'categoria':$('#id_categoria').val(), 
                                     'unidad':$('#id_unidad').val(), 
                                     'costounitario':$('#id_costounitario').val(), 
                                     'file':$('#id_file').val(), 

                                     csrfmiddlewaretoken: '{{ csrf_token }}' 
                                 },
                                 success: function(response){
                         
                                     //recargar div
                                     $('#reload-div').load(document.URL + ' #reload-div');
                                      $('#myModal2').modal('toggle');
                                 }
                             });


                }

    });

});
</script>



{% endblock %}