{% extends "base.html" %}

{% block title %}Panel Cliente{% endblock %}

{% block content %}
<div class="row  border-bottom white-bg dashboard-header">
    <h2>Resultados De Busqueda</h2>

    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li>
                <a href="#">Buscar insumos</a>
            </li>
            <li class="active"> <strong>Resultados</strong>
            </li>
        </ol>
    </div>

</div>

<div class="col-lg-2"></div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                {% if object_list %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Insumos</h2>
                    </div>
                    <div class="panel-body">
                        <div class="ibox-content">

                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th>Nombre</th>
                                        <th class="tablecolumnhosting">Codigo</th>
                                        <th>Categoría</th>
                                        <th class="tablecolumnhosting">Stock</th>
                                        <th>Foto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for insumo in object_list %}
                                    <tr>

                                        <td>
                                            <a href="{% url "adminInsumoDetail" insumo.pk %}">{{insumo.nombre}}</a>
                                        </td>
                                        <td class="tablecolumnhosting">{{insumo.codigo}}</td>
                                        <td>{{insumo.categoria}}</td>
                                        <td>{{insumo.stock}}</td>
                                        <td>
                                            <img alt="{{insumo.name}}" src="{{ MEDIA_URL }}{{insumo.file}}" width="100" class="img-md"></td>

                                    </tr>
                                    {% endfor %}
                               

       {% if is_paginated %}
                                    <div class="pagination">
                                        <span class="page-links">
                                            {% if page_obj.has_previous %}
                                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                            {% endif %}
                                            <span class="page-current">
                                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                            </span>
                                            {% if page_obj.has_next %}
                                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                                            {% endif %}
                                        </span>
                                    </div>
                                    {% endif %}

{% else %}
                                    <div class="alert alert-warning payments">No hay ordenes.</div>
                                    {% endif %}
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="row"></div>
{% endblock %}