{% extends "base.html" %}

{% block title %}Detalle de la cotizacion: {{orden.codigo}}{% endblock %}

{% block content %}
{% load humanize %}
<div class="row  border-bottom white-bg dashboard-header">
    <h2>Detalle de la cotizacion</h2>
    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li>
                <a href="#">Cotizaciones</a>
            </li>
            <li class="active"> <strong>Detalle de la cotización</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <a href="javascript:window.location = document.referrer;">
                <button class="btn btn-w-m btn-danger" type="submit"> <i class="fa fa-arrow-left"></i> Regresar
                </button>
            </a>
            <p></p>
            <div class="ibox float-e-margins">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>{{orden.nombre}}</h2>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"> <i class="fa fa-info-circle"></i> Información de orden
                                </div>
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt class="font-15">Codigo:</dt>
                                        <dd class="font-15">{{orden.codigo}}</dd>
                                        <dt class="font-15">Cliente:</dt>
                                        <dd class="font-15">{{orden.cliente}}</dd>
                                        <dt class="font-15">Fecha de expedición:</dt>
                                        <dd class="font-15">{{orden.fecha_expedicion|date:"d/M/Y"}}</dd>

                                        <dt class="font-15">Costo Total:</dt>
                                        <dd class="font-15">{{orden.costo}}</dd>


                                        <dt class="font-15">Creada por:</dt>
                                        <dd class="font-15">{{orden.usuario}}</dd>
                                        <dt class="font-15">Estatus Actual:</dt>
                                        <dd class="font-15">{{orden.get_estatus_display}}</dd>
                                    </dl>
                                </div>

                                <div class="panel-body">
                                    {% if comentarios %}
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Estatus</th>
                                                <th>Comentario</th>
                                                <th>Usuario</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for comentario in comentarios %}
                                            <tr>
                                                <td class="" class="pull-left">{{comentario.fecha|date:"d/m/Y - h:i A"}}</td>
                                                <td class="" class="pull-left">{{comentario.get_estatus_display}}</td>
                                                <td class="" class="pull-left">{{comentario.comentario}}</td>
                                                <td class="" class="pull-left">{{comentario.usuario}}</td>
                                            </tr>
                                            {% endfor %} {% else %} No hay comentarios {% endif %}
                                        </tbody>
                                    </table>
                                </div>


                    

                            </div>
                            <div class="align-center">
                               
                                <a href="{% url 'cotizacion_impresion' orden.pk %}" class="align-center" target="_blank">
                                    <button type="button" class="btn btn-warning btn-lg"><i class="fa fa-print"></i>&nbsp;Generar impresión</button>
                                </a>
                                <button data-toggle="modal" data-target="#myModalventa" type="button" class="btn btn-primary btn-lg"><i class="fa fa-print"></i>&nbsp;Generar orden de Venta</button>
                            </div>
                        </div>

                        <div class="col-md-6">
<div class="panel panel-default">
                                <div class="panel-heading"> <i class="fa fa-info-circle"></i> Descripción de cotización
                                </div>
                                <div class="panel-body">
                                    {{orden.descripcion|linebreaks}}
                                </div>
                            </div>
</div>


                        
                    </div>
                </div>
            </div>
            <!-- col-lg-12 -->
        </div>
    </div>

<div class="row">


                {% load ordertag %}
                {% if productos %}
                <!-- col-lg-12 -->
                <div class="col-lg-12">
                    <section id="pagos">

                        <div class="panel panel-default" style="clear: both;">
                            <div class="panel-heading">
                                <h2>Productos de la orden</h2>
                            </div>

                            <div class="panel-body">
                                <div class="ibox-content">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Nombre</th>
                                               
                                                <th>Descripción</th>
                                            
                                                <th>Color</th>
                                                <th>Comentario</th>
                                                <th>Foto</th>
                                                <th>Cantidad</th>
                                                <th>Costo U.P.</th>
                                                <th>Costo T.P.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for producto in productos %}
                                            <tr>
                                                <td class="" class="pull-left">{{producto.producto.codigo}}</td>
                                                <td class="" class="pull-left">
                                                    <a href="{% url 'CotizacionProductoDetailProduccion' producto.pk %}">{{producto.producto.nombre}}</a>
                                                </td>
                                              
                                                <td class="" class="pull-left">{{producto.producto.descripcion}}</td>
                                                
                                                <td class="" class="pull-left">{{producto.color|default:"----"}}</td>
                                                <td class="" class="pull-left">{{producto.comentario|default:"----"}}</td>
                                                <td class="" class="pull-left">
                                                    <img alt="{{producto.producto.nombre}}" class="productoimg" src="{{ MEDIA_URL }}{{producto.producto.file}}" width="100" height="100"></td>
                                                    <td class="" class="pull-left">{{producto.cantidad}}</td>
                                                    <td class="" class="pull-left">${{producto.producto.costo|floatformat:2|intcomma}}</td>
                                                    <td class="" class="pull-left">${% get_costo producto.cantidad producto.producto.costo %}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
</div>
                        </div>
                        {% else %}
                        <div class="alert alert-warning payments">No hay productos.</div>
                        {% endif %}

                        {% if is_paginated %}
                        <div class="paginationbox">
                            <div class="pagination">
                                <!-- paginacion-->
                                <span class="step-links">
                                    {% if productos.has_previous %}
                                    <a href="?page={{ productos.previous_page_number }}">
                                        << Anterior</a>
                                            {% endif %}
                                            <span class="current">
                                                Pagina {{ productos.number }} de {{ productos.paginator.num_pages }}.
                                            </span>
                                            {% if productos.has_next %}
                                            <a href="?page={{ productos.next_page_number }}">Siguiente>></a>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </section>
                            </div>
                            <!-- col-lg-12 -->{% endif %}





</div>


</div>
        <!-- MODAL -->
        <div class="modal inmodal fade" id="myModalventa" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Cerrar</span>
                        </button>
                        <h3 class="modal-title">Crear Orden de Venta</h3>
                    </div>
                    <div class="modal-body">
                        <p>Complete los siguientes Datos:</p>
                        <form id='formulario' method='post' enctype='multipart/form-data'>
                            {% csrf_token %}
                            <ul>{{formventa.as_p}}</ul>
                              <div class="row align-center">
                                <input type='hidden' name="venta" value='venta'/>
                                <input type='submit' name="venta" value='Confirmar' class="btn btn-w-m btn-primary"/>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        {% endblock %}