{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Detalles del Producto: {{producto.nombre}}{% endblock %}

{% block content %}
<script src="{% static "js/jquery.validate.js" %}"></script>
<script src="{% static "js/additional-methods.js" %}"></script>
<script src="{% static "js/autoNumeric.js" %}" type="text/javascript"></script>

{% load humanize %}
<!-- TITULO -->
<div class="row  border-bottom white-bg dashboard-header">
    <h2>Detalles del Producto</h2>

    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li>
                <a href="#">Producción</a>
            </li>
            <li class="active"> <strong>Detalles del producto</strong>
            </li>
        </ol>
    </div>

</div>

<!-- CONTENIDO -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
    <a href="{% url 'listaProducto' %}">
                <button class="btn btn-w-m btn-danger" type="submit"> <i class="fa fa-arrow-left"></i> Regresar a lista de productos
                </button>
            </a>
            <p></p>

            <div class="ibox float-e-margins">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>{{producto.nombre}}</h2>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-3 align-center">
                                <img alt="{{producto.name}}" class="img-md1" src="{{ MEDIA_URL }}{{producto.file}}"style="width: 207px;" ></div>

                            <div class="col-lg-5">

                                <div class="panel panel-default">
                                    <div class="panel-heading"> <i class="fa fa-info-circle"></i>
                                        Detalles
                                    </div>
                                    <div class="panel-body">

                                        <dl class="dl-horizontal">

                                            <dt class="font-16">Codigo:</dt>
                                            <dd class="font-16">{{producto.codigo}}</dd>
                                            <dt class="font-16">Descripción:</dt>
                                            <dd class="font-16">{{producto.descripcion|default:"----"}}</dd>
                                            <dt class="font-16">Categoría:</dt>
                                            <dd class="font-16">{{producto.categoria|default_if_none:"----"}}</dd>
                                            <dt class="font-16">Costo Producto:</dt>
                                            <dd class="font-16">${{producto.costo|floatformat:2|intcomma}}</dd>

                                        </dl>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading"> <i class="fa fa-info-circle"></i>
                                        Acciones
                                    </div>
                                    <div class="panel-body align-center">
<a href="{% url 'ProductoInsumo' producto.pk %}" class="btn btn-lg btn-primary m-t-n-xs button280"><i class="fa fa-plus"></i>&nbsp;Agregar Material</a>
    <p></p>


                                         <button data-toggle="modal" data-target="#myModal6" type="button" class="btn btn-lg btn-primary m-t-n-xs button280"><i class="fa fa-plus"></i>&nbsp;Agregar Costo Especial</button>
                                    </div>
                                </div>



                                <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i>
                                    Costos Especiales
                                </div>
                                <div class="panel-body">
                                    {% if costoespeciales %}
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Concepto</th>
                                                <th>Costo</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for costo in costoespeciales %}
                                            <tr>
                                                <td class="" class="pull-left">{{costo.concepto}}</td>
                                                <td class="" class="pull-left">${{costo.costo|floatformat:2|intcomma}}</td>
                                              

                                            </tr>
                                            {% endfor %}

                                                                {% else %}
                                                                No hay costos especiales
                                                                {% endif %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>




                            </div>
                        </div>

                    </div>
                </div>
                {% if materiales %}
                <div class="col-lg-12">
                    <section id="pagos">

                        <div class="panel panel-default" style="clear: both;">
                            <div class="panel-heading">
                                <h2>Lista de Materiales</h2>
                            </div>

                            <div class="panel-body">
                                <div class="ibox-content">
                                  <!--   <form action="" method="get">
                                      formulario de filtros y orden
                                      {{ filters.form.as_p}}
                                      <input type="submit" class="btn btn-w-m btn-primary"/>
                                  </form> -->

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Codigo</th>
                                                <th>Stock</th>
                                                <th>Cantidad</th>
                                                
                                                 <th>Costo Unitario</th>
                                                <th>Costo Total</th>
                                                <th>Accion</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for material in materiales %}
                                            <tr>
                                                <td class="text-navy" class="pull-left">
                                                    <a href="{% url "adminInsumoDetail" material.insumo.pk %}">{{material.insumo.nombre}}</a>
                                                </td>
                                                <td class="" class="pull-left">{{material.insumo.codigo}}</td>
                                                <td class="" class="pull-left">{{material.insumo.stock}}</td>
                                                <td class="" class="pull-left">{{material.cantidad}}</td>
                                                
                                                <td class="" class="pull-left">${{material.insumo.costounitario|floatformat:2|intcomma}}</td>
                                                 <td class="" class="pull-left">${{material.costototal|floatformat:2|intcomma}}</td>
                                                
                                                <td class="" class="pull-left"><button class="btn btn-w-m btn-danger" type="submit"><i class="fa fa-times"></i> Borrar</button></td>

                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                    </table>
                                    </div>

                                                                {% else %}
                                                                <div class="row">
                                                                <div class="col-md-6 col-md-offset-3">
                                                                <div class="alert alert-danger">
                                No se han agregado materiales.
                            
                                                                {% endif %}
                                        
                                </div>
                            </div>

                        </div>
 <div class="paginationbox">
                        <div class="pagination">
                            <!-- paginacion-->
                            <span class="step-links">
                                {% if materiales.has_previous %}
                                <a href="?page={{ materiales.previous_page_number }}">
                                    << Anterior</a>
                                        {% endif %}
                                        <span class="current">
                                            Pagina {{ materiales.number }} de {{ materiales.paginator.num_pages }}.
                                        </span>
                                        {% if materiales.has_next %}
                                        <a href="?page={{ materiales.next_page_number }}">Siguiente>></a>
                                        {% endif %}
                                    </span>
                                </div>
</div>
</div>
                    </div>
                            </section>

                        

                </div>
            </div>



<!-- MODAL -->
        <div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Cerrar</span>
                        </button>
                        <h3 class="modal-title">Agregar Concepto Especial</h3>
                    </div>
                    <div class="modal-body">
                        <p>Por favor agregue un concepto:</p>
                        <form id='formulario' method='post' enctype='multipart/form-data'>
                            {% csrf_token %}
                            <ul>{{form.as_p}}</ul>

                              <div class="row align-center">
                                <input type='submit' name="save" value='Guardar' class="btn btn-w-m btn-primary"/>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>


<script>
$(document).ready(function(){
    // Iniciar autonumeric campos
   $("#id_costo").autoNumeric('init');
});

    </script>

<script>
$('#formulario').submit(function() {

    var txt = $('#id_costo');
    txt.val(txt.val().replace(/,/g , ""));

});
</script>

        {% endblock %}