{% extends "base.html" %}

{% block title %}Panel Cliente{% endblock %}

{% block content %}
<div class="row  border-bottom white-bg dashboard-header">
    <h2>Detalle del cliente</h2>

    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li>
                <a href="#">Ordenes</a>
            </li>
            <li class="active"> <strong>Detalle del cliente</strong>
            </li>
        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>{{cliente.nombrecontacto}}</h2>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading"> <i class="fa fa-info-circle"></i>
                                    Información del Cliente
                                </div>
                                <div class="panel-body">

                                    <dl class="dl-horizontal">

                                        <dt class="font-15">Empresa:</dt>
                                        <dd class="font-15">{{cliente.empresainstitucion}}</dd>
                                        <dt class="font-15">Teléfono:</dt>
                                        <dd class="font-15">{{cliente.telefono}}</dd>
                                        <dt class="font-15">Dirección:</dt>
                                        <dd class="font-15">{{cliente.direccion}}</dd>
                                        <dt class="font-15">Email:</dt>
                                        <dd class="font-15">{{cliente.email}}</dd>

                                    </dl>
                                </div>
                            </div>
                            <div class="align-center">
                                <a href="#" class="align-center">
                                    <button type="button" class="btn btn-outline btn-success btn-lg">Agregar Orden</button>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3">

            

                        </div>

                        <!-- col-md-5 -->
                        <div class="col-md-5">
                            

                        </div>
                        <!-- col-md-5 --> </div>
                </div>

                {% if ordenes %}
                <!-- col-lg-12 -->
                <div class="col-lg-12">
                    <section id="pagos">

                        <div class="panel panel-default" style="clear: both;">
                            <div class="panel-heading">
                                <h2>Ordenes del Cliente</h2>
                            </div>

                            <div class="panel-body">
                                <div class="ibox-content">

                                   <table class="table table-hover">
                                        <thead>
                                            <tr>

                                                <th>Nombre</th>
                                                <th class="tablecolumnhosting">Codigo</th>

                                                <th>Descripción</th>
                                                <th>Cliente</th>
                                                <th>Fecha Expedicion</th>
                                                <th>Fecha Entrega</th>
                                                <th>Estatus</th>
                                                <th>Usuario</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for orden in ordenes %}
                                            <tr>

                                                <td>
                                                    <a href="{% url "OrdenDetail" orden.pk %}">{{orden.nombre}}</a>
                                                </td>
                                                <td class="tablecolumnhosting">{{orden.codigo}}</td>
                                                <td>{{orden.descripcion}}</td>
                                                <td>{{orden.cliente}}</td>
                                                <td>{{orden.fecha_expedicion}}</td>
                                                <td>{{orden.fecha_entrega}}</td>
                                                <td>{{orden.estatus}}</td>
                                                <td>{{orden.usuario}}</td>

                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
</div>
                        </div>
                        {% else %}
                        <div class="alert alert-warning payments">No hay ordenes.</div>
                        {% endif %}

                        {% if is_paginated %}
                        <div class="paginationbox">
                            <div class="pagination">
                                <!-- paginacion-->
                                <span class="step-links">
                                    {% if ordenes.has_previous %}
                                    <a href="?page={{ ordenes.previous_page_number }}">
                                        << Anterior</a>
                                            {% endif %}
                                            <span class="current">
                                                Pagina {{ ordenes.number }} de {{ ordenes.paginator.num_pages }}.
                                            </span>
                                            {% if ordenes.has_next %}
                                            <a href="?page={{ ordenes.next_page_number }}">Siguiente>></a>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <!-- col-lg-12 -->{% endif %}</div>

                    </div>
                </section>

            </div>
        </div>

    
        {% endblock %}