{% extends "base.html" %}

{% block title %}Detalle de la cotizacion: {{orden.codigo}}{% endblock %}

{% block content %}
{% load humanize %}
<div class="row  border-bottom white-bg dashboard-header">
    <h2>Detalle de la cotizacion</h2>
    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li>
                <a href="#">Cotizaciones</a>
            </li>
            <li class="active"> <strong>Detalle de la cotización</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <a href="javascript:window.location = document.referrer;">
                <button class="btn btn-w-m btn-danger" type="submit"> <i class="fa fa-arrow-left"></i> Regresar
                </button>
            </a>

{% for message in messages %}
<p></p>
            {% if 'success' in message.tags %}
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <ul{% if message.tags %} class="{{ message.tags }}" {% endif %}><strong>{{message}}</strong> </ul>
            </div>
            {% endif %}

             {% if 'error' in message.tags %}
<div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <ul{% if message.tags %} class="{{ message.tags }}" {% endif %}><strong>{{message}}</strong> </ul>
            </div>
             {% endif %}

{% endfor %}



            <p></p>
            <div class="ibox float-e-margins">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>{{orden.nombre}}</h2>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"> <i class="fa fa-info-circle"></i> Información de orden
                                </div>
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt class="font-15">Codigo:</dt>
                                        <dd class="font-15">{{orden.codigo}}</dd>
                                        <dt class="font-15">Cliente:</dt>
                                        <dd class="font-15">{{orden.cliente}}</dd>
                                        <dt class="font-15">Fecha de expedición:</dt>
                                        <dd class="font-15">{{orden.fecha_expedicion|date:"d/M/Y"}}</dd>
                                        <dt class="font-15">Creada por:</dt>
                                        <dd class="font-15">{{orden.usuario}}</dd>
                                        <dt class="font-15">Estatus Actual:</dt>
                                        <dd class="font-15">{{orden.get_estatus_display}}</dd>
                                    </dl>
                                </div>

                                <div class="panel-body">
                                    {% if comentarios %}
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Estatus</th>
                                                <th>Comentario</th>
                                                <th>Usuario</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for comentario in comentarios %}
                                            <tr>
                                                <td class="" class="pull-left">{{comentario.fecha|date:"d/m/Y - h:i A"}}</td>
                                                <td class="" class="pull-left">{{comentario.get_estatus_display}}</td>
                                                <td class="" class="pull-left">{{comentario.comentario}}</td>
                                                <td class="" class="pull-left">{{comentario.usuario}}</td>
                                            </tr>
                                            {% endfor %} {% else %} No hay comentarios {% endif %}
                                        </tbody>
                                    </table>
                                </div>


                                 <div class="panel-body text-center">
                                    <button data-toggle="modal" data-target="#myModal6" type="button" class="btn btn-primary">Cancelar Cotización</button>
                                </div>




                            </div>

                        </div>

                        <div class="col-md-6">
<div class="panel panel-default">
                                <div class="panel-heading"> <i class="fa fa-info-circle"></i> Descripción de cotización
                                </div>
                                <div class="panel-body">
                                    {{orden.descripcion|linebreaks}}
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading"> <i class="fa fa-info-circle"></i> Impresión
                                </div>

                                <div class="panel-body">
                                   
                                    <form id='print-form' method='post' enctype='multipart/form-data'>
                            {% csrf_token %}
                            <ul>{{printf.as_p}}</ul>
                              <div class="row align-center">
                                <input type='submit' name="printd" value='Guardar descripción' class="btn btn-w-m btn-primary"/>
                            </div>

                        </form>


                            <div class="align-center">
                                <a href="{% url 'cotizacion_impresion' orden.pk %}" class="align-center" target="_blank">
                                    <button type="button" class="btn btn-warning btn-lg"><i class="fa fa-print"></i>&nbsp;Generar impresión</button>
                                </a>
                            </div>

                                </div>
                            </div>
</div>


                        
                    </div>
                </div>
                {% load ordertag %}
            </div>
            <!-- col-lg-12 -->
        </div>
    </div>

<div class="row">

</div>


</div>


        <!-- MODAL -->
        <div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Cerrar</span>
                        </button>
                        <h3 class="modal-title">Cancelar Cotización</h3>
                    </div>
                    <div class="modal-body">
                        <p>Por favor explique el motivo de cancelación:</p>
                        <form id='formulario' method='post' enctype='multipart/form-data'>
                            {% csrf_token %}
                            <ul>{{form.as_p}}</ul>
                              <div class="row align-center">
                                <input type='submit' name="save" value='Guardar' class="btn btn-w-m btn-primary"/>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript">
            $('#id_printdesc').addClass('form-control');
        </script>
        {% endblock %}

        