{% extends "base.html" %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<div class="row  border-bottom white-bg dashboard-header">
    <h2>Lista de clientes</h2>

    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li>
                <a href="#">Clientes</a>
            </li>
            <li class="active"> <strong>Lista de clientes</strong>
            </li>
        </ol>
    </div>

</div>

<!-- Area contenido -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content p-md">

                    <!-- BOTON Y BARRA DE BUSQUEDA-->
                    <div class="row">
                       

                        <div class="col-lg-4 pull-right">
                            <form id="searchform" action="{%url 'search_cliente_url' %}" method="get" accept-charset="utf-8" class="align-right searchform">
                                <div class="input-group">
                                    <input class="searchfield form-control input-lg" id="searchbox" name="q" type="text" placeholder="Buscar">
                                    <div class="input-group-btn">
                                        <button class="searchbutton btn btn-lg btn-primary" type="submit"> <i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <section id="clientes">

                        <div class="row">
                           
                        </div>
                        <p></p>
                        {% if clientes %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2>Clientes</h2>
                            </div>
                            <div class="panel-body">
                                <div class="ibox-content">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>

                                                <th>Nombre</th>
                                              

                                                <th>Empresa</th>
                                                <th>Teléfono</th>
                                                <th>Email</th>
                                            

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cliente in clientes %}
                                            <tr>

                                                <td>
                                                    <a href="{% url 'ClienteDetail' cliente.pk %}">{{cliente.nombrecontacto}}</a>
                                                </td>
                                                <td>{{cliente.empresainstitucion|default:"----"}}</td>
                                                <td>{{cliente.telefono|default:"----"}}</td>
                                                <td>{{cliente.email|default:"----"}}</td>
                                        

                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <p></p>
                        <div class="alert alert-warning payments">No hay Ordenes.</div>
                        {% endif %}
                        
                        <div class="paginationbox">
                            <div class="pagination">
                                <!-- paginacion-->
                                <span class="step-links">
                                    {% if clientes.has_previous %}
                                    <a href="?page={{ clientes.previous_page_number }}">
                                        << Anterior</a>
                                            {% endif %}
                                            <span class="current">
                                                Pagina {{ clientes.number }} de {{ clientes.paginator.num_pages }}.
                                            </span>
                                            {% if clientes.has_next %}
                                            <a href="?page={{ clientes.next_page_number }}">Siguiente>></a>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </section>

            </div>
        </div>
        {% endblock %}