{% extends "base.html" %}

{% block title %}Panel Cliente{% endblock %}

{% block content %}
<div class="row  border-bottom white-bg dashboard-header">
    <h2>Detalle del Producto</h2>

    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li>
                <a href="#">Producción</a>
            </li>
            <li class="active"> <strong>Detalle del producto de orden</strong>
            </li>
        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>
                            Detalle del producto de orden: <strong>{{producto_orden.orden}}</strong>
                        </h2>
                    </div>
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-lg-3 align-right">

                                <p>
                                    <img alt="{{producto_orden.producto.name}}" src="{{ MEDIA_URL }}{{producto_orden.producto.file}}" style="width: 207px;"  class="detailimagen"></p>
                            </div>

                            <div class="col-lg-8">

                                <div class="panel panel-default">
                                    <div class="panel-heading"> <i class="fa fa-info-circle"></i>
                                        Detalles
                                    </div>
                                    <div class="panel-body">

                                        <dl class="dl-horizontal">

                                            <dt class="font-16">Codigo:</dt>
                                            <dd class="font-16">{{producto_orden.producto.codigo}}</dd>
                                            <dt class="font-16">Descripción:</dt>
                                            <dd class="font-16">{{producto_orden.producto.descripcion}}</dd>
                                            <dt class="font-16">Categoría:</dt>
                                            <dd class="font-16">{{producto_orden.producto.categoria}}</dd>
                                            <dt class="font-16">Cantidad:</dt>
                                            <dd class="font-16">{{producto_orden.cantidad}}</dd>
                                            <dt class="font-16">Color:</dt>
                                            <dd class="font-16">{{producto_orden.color}}</dd>
                                            <dt class="font-16">Comentario:</dt>
                                            <dd class="font-16">{{producto_orden.comentario}}</dd>

                                        </dl>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <!-- panel body --> </div>
                {% load ordertag %}





                                        {% if insumos %}
                <div class="col-lg-12">
                    <section id="pagos">

                        <div class="panel panel-default" style="clear: both;">
                            <div class="panel-heading">
                                <h2>Lista de insumos</h2>
                            </div>

                            <div class="panel-body">
                                <div class="ibox-content">
                                    

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Codigo</th>
                                                <th>Estado</th>
                                                <th>Fecha</th>
                                                <th>Historial</th>
                                                <th>Actualizar</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for insumo in insumos %}
                                            <tr>
                                                <td class="text-navy" class="pull-left">{{insumo.insumo.nombre}}</td>
                                                <td class="text-navy" class="pull-left">{{insumo.insumo.codigo}}</td>
                                                <td class="text-navy" class="pull-left">{% get_obj insumo.pk producto_orden.pk %}</td>
                                                <td class="text-navy" class="pull-left">{% get_fecha insumo.pk producto_orden.pk %}</td>
                                                <td class="text-navy" class="pull-left"><button data-toggle="modal" data-target="#myModal6" type="button" class="btn btn-primary" onClick="history({{producto_orden.pk}},{{insumo.pk}})">Historial</button></td>
                                                <td class="text-navy" class="pull-left"><button data-toggle="modal" data-target="#myModal7" type="button" class="btn btn-primary" onClick="insumo({{insumo.pk}})" >Actualizar</button></td>

                                            </tr>
                                            {% endfor %}
                                             </tbody>
                                    </table>

                                                                {% else %}
                                            <div class="row">
                                                <div class="col-md-6 col-md-offset-3">
                                                    <div class="alert alert-danger">No se han agregado insumos.</div>
                                                </div>
                                            </div>
                                            {% endif %}
                                       
                                </div>
                            </div>

                        </div>

                        <div class="pagination">
                            <!-- paginacion-->
                            <span class="step-links">
                                {% if insumos.has_previous %}
                                <a href="?page={{ insumos.previous_page_number }}">
                                    << Anterior</a>
                                        {% endif %}
                                        <span class="current">
                                            Pagina {{ insumos.number }} de {{ insumos.paginator.num_pages }}.
                                        </span>
                                        {% if insumos.has_next %}
                                        <a href="?page={{ insumos.next_page_number }}">Siguiente>></a>
                                        {% endif %}
                                    </span>
                                </div>

                            </section>
          </div>
      
              


        <!-- MODAL -->
        <div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Cerrar</span>
                        </button>
                        <h3 class="modal-title">Historial</h3>
<div id="modalcontent">
                         </div>
                    </div>
                    <div class="modal-body">
           
                        


                    </div>
                </div>
            </div>
        </div>

 <!-- MODAL -->
        <div class="modal inmodal fade" id="myModal7" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Cerrar</span>
                        </button>
                        <h3 class="modal-title">Cambiar Estatus</h3>
                    </div>
                    <div class="modal-body">
                        <p>Por favor seleccione el estatus de la orden:</p>
                        <form id='formulario' method='post' enctype='multipart/form-data'>
                            {% csrf_token %}
                            <ul>{{form.as_p}}</ul>

                              <div class="row align-center">
                                <input type='submit' name="save" value='Guardar' class="btn btn-w-m btn-primary"/>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>



<script>

function history(orden, insumo)
{

$( "#modalcontent" ).empty();

var url = '{% url "HistoryCheckInsumo" "orden1" "insumo1" %}';
url = url.replace('orden1', orden);
url = url.replace('insumo1', insumo);



  $.get(url,function(data){
                 var myModal = $(data);
                 $('#modalcontent').append(myModal);
             });
}


function insumo(val)
{

document.getElementById('id_insumo').value = val;

}


</script>



  
        {% endblock %}