{% extends "base.html" %}

{% block title %}Panel Cliente{% endblock %}

{% block content %}
<div class="row  border-bottom white-bg dashboard-header">
  <h2>Detalle del Producto</h2>

  <div class="col-lg-8">
    <ol class="breadcrumb">
      <li>
        <a href="#">Producción</a>
      </li>
      <li class="active"> <strong>Detalle del producto</strong>
      </li>
    </ol>
  </div>

</div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>{{producto_orden.nombre}}</h2>
                        </div>
                        <div class="panel-body">

                            <ul>
                                <li>Codigo: {{producto_orden.producto.codigo}}</li>
                                <li>Descripción: {{producto_orden.producto.descripcion}}</li>
                                <li>Categoría: {{producto_orden.producto.categoria}}</li>
                                <li>Cantidad: {{producto_orden.cantidad}}</li>
                                <li>Color: {{producto_orden.color}}</li>
                                <li>Comentario: {{producto_orden.comentario}}</li>
                                <li>
                                    Imagen:
                                    <img alt="{{producto_orden.producto.name}}" class="productoimg" src="{{ MEDIA_URL }}{{producto_orden.producto.file}}" width="100" height="100"></li>
                            </ul>

                        </div>
                    </div>
                    {% load ordertag %}





                                        {% if insumos %}
                    <div class="col-lg-12">
                        <section id="pagos">

                            <div class="panel panel-default" style="clear: both;">
                                <div class="panel-heading">
                                    <h2>Lista de insumos</h2>
                                </div>

                                <div class="panel-body">
                                    <div class="ibox-content">
                                        <form action="" method="get">
                                            <!-- formulario de filtros y orden -->
                                            {{ filters.form.as_p}}
                                            <input type="submit" class="btn btn-w-m btn-primary"/>
                                        </form>

                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Codigo</th>
                                                    <th>Estado</th>
                                                    <th>Fecha</th>
                                                    <th>Historial</th>
                                                    <th>Actualizar</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for insumo in insumos %}
                                                <tr>
                                                    <td class="text-navy" class="pull-left">{{insumo.insumo.nombre}}</td>
                                                    <td class="text-navy" class="pull-left">{{insumo.insumo.codigo}}</td>
                                                    <td class="text-navy" class="pull-left">{% get_obj insumo.pk producto_orden.pk %}</td>
                                                    <td class="text-navy" class="pull-left">{% get_fecha insumo.pk producto_orden.pk %}</td>
                                                    <td class="text-navy" class="pull-left">{{checkinsumos.insumo}}</td>
                                                    <td class="text-navy" class="pull-left">Actualizar</td>

                                                </tr>
                                                {% endfor %}

                                                                {% else %}
                                                                No hay Insumos
                                                                
                                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            <div class="pagination">
                                <!-- paginacion-->
                                <span class="step-links">
                                    {% if insumos.has_previous %}
                                    <a href="?page={{ insumos.previous_page_number }}">
                                        << Anterior</a>
                                            {% endif %}
                                            <span class="current">
                                                Pagina {{ insumos.number }} de {{ insumos.paginator.num_pages }}.
                                            </span>
                                            {% if insumos.has_next %}
                                            <a href="?page={{ insumos.next_page_number }}">Siguiente>></a>
                                            {% endif %}
                                        </span>
                                    </div>

                                </section>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            {% endblock %}