{% extends "base.html" %}

{% block title %}Panel Cliente{% endblock %}

{% block content %}
<script>

function selectValue(id)
{
    // open popup window and pass field id
    window.open('/administrador/popinsumo','popuppage',
      'width=800,toolbar=1,resizable=1,scrollbars=yes,height=400,top=100,left=100');
}

function updateValue(id, value)
{
    // this gets called from the popup window and updates the field with a new value
    document.getElementById(id).value = value;
}

</script>

<div class="row  border-bottom white-bg dashboard-header">
    <h2>Asignar Insumo a Producto</h2>

    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li>
                <a href="#">Producción</a>
            </li>
            <li class="active"> <strong>Asignar insumo</strong>
            </li>
        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="panel panel-default">
                    <div class="panel-heading">

                        <h2>
                            Asignar insumo para: <strong>{{producto.nombre}}-{{producto.codigo}}</strong>
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="p-xs">
                                <div class="insumoformstyle">
                                    <form id='formulario' method='post' enctype='multipart/form-data'>
                                        {% csrf_token %}
                                        <ul>
                                            <li>
                                                <label class="control-label">Insumo</label>
                                                <input id="insumo" type="hidden" name="insumo"/>
                                                <button type="button" class="btn btn-primary" onClick="selectValue()">Seleccionar</button>
                                            </li>
                                            <li>
                                                <label class="control-label">Cantidad</label>
                                                <input type="number" name="cantidad" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4"></div>
                        </div>

                        <div class="row p-xs">
                            <div class="col-lg-12">
                                <div class="wrapper wrapper-content">

                                    <button type="submit" name="save" class="btn btn-xlg btn-primary pull-right m-t-n-xs">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}